asn1crypto==1.5.1
blinker==1.9.0
boto3==1.42.32
botocore==1.42.32
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.3
dash==3.4.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-pivottable==0.0.2
dash-table==5.0.0
dash_ag_grid==33.3.3
filelock==3.20.3
Flask==3.1.2
greenlet==3.3.1
idna==3.11
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.3
narwhals==2.15.0
nest-asyncio==1.6.0
numpy==2.2.3
packaging==26.0
pandas==3.0.0
platformdirs==4.5.1
plotly==6.0.0
pycparser==2.22
PyJWT==2.10.1
pymssql==2.3.11
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.1
requests==2.32.5
retrying==1.4.2
s3transfer==0.16.0
six==1.17.0
snowflake-connector-python==4.2.0
snowflake-sqlalchemy==1.8.2
sortedcontainers==2.4.0
SQLAlchemy==2.0.46
tomlkit==0.14.0
typing_extensions==4.12.2
tzdata==2025.3
urllib3==2.3.0
Werkzeug==3.1.3
wfastcgi==3.0.0
zipp==3.23.0